body {
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}

main {
    flex: 1 0 auto;
  }
      

.align-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.listrap {
            list-style-type: none;
            margin: 0;
            padding: 0;
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .listrap li {
            margin: 0;
            padding: 10px;
        }

        .listrap li.active, .listrap li:hover {
            background-color: #d9edf7;
        }

        .listrap strong {
            margin-left: 10px;
        }

        .listrap .listrap-toggle {
            display: inline-block;
            width: 60px;
            height: 60px;
        }

        .listrap .listrap-toggle span {
            background-color: #428bca;
            opacity: 0.8;
            z-index: 100;
            width: 60px;
            height: 60px;
            display: none;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
            color: #ffffff;
        }

        .listrap .listrap-toggle span:before {
            font-family: 'Glyphicons Halflings';
            content: "\e013";
        }

        .listrap li.active .listrap-toggle span {
            display: block;
        }

.img-circle {
    width: 100px;
    height: 236px;
}

        

 #myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }

/*Jumbotron*/


.jumbotron{
    width:1200px;
    height:273.5px;
    margin-bottom:20px;
    margin-top:20px;
    position:center;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.jumbotron h2{
    color:#31708f;
}

.jumbotron span{
    float:left;
    clear:left;
}

.jumbotron img{
    width:350px;
    height: 215px;
    float:right;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow:2px 2px 5px rgba(50,50,50,.1);
    clear:right;
}

.pricing {
    text-align: center;
}

	p{
			font-family: lato;
			text-transform:inherit;
			color:#111;
			padding:0 0 20px 0;
			margin:0;	
			color:#fff;		
		}
.detail{
			padding: 40px 0 0 0;
		}

		.detail p{
			font-size: 14px;
			color:#31708f;
			text-transform: lowercase;
		}

		.img-responsive{
			width:100%;
			height: auto;
			background-size: 100% 100%;
		}
div{
    display:block;
    
}
.common-footer{
    width:100%;
    background-color:#092b51;
    padding-top:100px;
    clear: both;
}

.bottom-footer {
    font-size: .917em;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding-top: 18px;
}



.sized-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto!important;
    padding: 0 10px!important;