body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }
      

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}