@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SonOfCod.Models.Contact>

<h4>Here is your Mailing list, @User.Identity.Name</h4>
<hr />
@if (Model.Any())
{
    <div class="container">
        <div class="row">
            <ul class="listrap">
                @foreach (var listContact in Model)
                {
                    <li class="active">
                        <img src="https://i1.rgstatic.net/ii/profile.image/AS%3A399028920569873%401472147316819_m/Lisa_Lines.png" alt="" class="img-circle"
                        <span class="glyphicon glyphicon-user"> Contact Detail</span>
                        <br />
                        <span class="title">
                            @Html.DisplayFor(modelContact => listContact.FirstName)
                        </span>
                        <span class="title">
                            <br />
                            @Html.DisplayFor(modelContact => listContact.LastName)
                        </span>
                        <br />
                        <p class="align-center">
                            <span class="glyphicon glyphicon-envelope">email</span>
                            &nbsp;@listContact.Email
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <p>No tasks have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")




